<template name="upload">

  {{>navigation}}
 <div class="container-fluid">
    <div class="row-fluid">
      <div class="span2">
        {{>sidebar}}
      </div>
      <div class="span10 ">
      
  <div class="form-container">
          <div class="page-header text-center">
          <h2>Load Balancing</h2>
          
          <!-- the links to our nested states using relative paths -->
          <!-- add the active class if the state matches our ui-sref -->
          <div id="status-buttons" class="text-center">
              <a ui-sref-active="active" href="/loadb/constraints"><span>1</span> Constraints</a>
              <a ui-sref-active="active" href="/loadb/layer-group"><span>2</span> Layer-Group</a>
              <a ui-sref-active="active" href="/loadb/layer-strategy" ><span>3</span>Layer Strategy</a>
              <a ui-sref-active="active" href="/loadb/criticality"><span>4</span>Criticality</a>
              <a ui-sref-active="active" href="/loadb/upload" style="color:red"><span>5</span> File Upload</a>
          </div>
      </div>
      <div id="form-views" ui-view>


    
 <div class="span1">
  
</div> 
<div class="form-group">
    <label for="file">Upload the asset file:</label>
    <input type="file" class="form-control" name="input_file" ng-model="formData.input_file">
</div>
<div class="span1">
  
</div>

<div class="form-group">
    
    <input type="submit" name="Submit" ng-model="formData.submit">
</div>
<br>
<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
<div class="span1">
  
</div>  
    <a href="/loadb/layer-group" class="btn btn-block btn-info span8">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>
</div>


</div>
</div>
</div>
</div>
</template>